@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.about-main{
    @include flex(center, center);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 20%;
    font-family: "kanit",sans-serif;
    gap:20px
}
.main{
    @include flex(center,center)
}

.about-us{
    //  @include flex(space-between, center);
    background-color: $light-grey;
    // height:90vh;
    padding-bottom: 3em
}
.services{
    @include flex(space-between, center);
    gap:30px;
    margin-bottom: 3%;
    padding-right: 10em;

}
.quality{
    @include flex(center, center);
background-color: $primary-color;
gap:30px;
margin-top:15%;
margin-left: 8%;
padding-top:30px;
padding-bottom:30px;
background-color: #fff;
padding: 15px 20px


}
.fresh{
    @include flex(center, center);
    background-color: $primary-color;
gap:30px;
margin-top:15%;
margin-left: 8%;
padding-top:30px;
padding-bottom:30px;
background-color: #fff;
padding-top: 5px; 
padding-right: 20px;
padding-left: 2px;
padding-bottom: 2px


}
.fast{
    @include flex(center, center);
    background-color: $primary-color;
gap:30px;
margin-top:15%;
margin-left: 1em;
padding-top:30px;
padding-bottom:30px;
background-color: #fff;
padding:10px 20px


}
.why{
    margin-bottom: 5px;
    font-size: 30px;
}
.we{
    margin-top:5%;
    font-size: 50px;
}
.try{
    margin-top:5%;
} 
@media screen and (max-width:600px){
    .about-main{
        flex-direction: column;
        
    
    .main{
        align-content: center;
        justify-content: center;
        align-items: center;
        .about-image{
            width:40px;
            // display:none
        }
        
    }
}
    // .about-image{
    //     width:50px;
    //     // display: none;
        
    // }
    .about-main-section{
        margin-left: 5%;
        padding-right: 2em;
        .services{
            padding-right: 2%;
            margin-right: 2em;
            .fast{
                padding-right: 2em;
            }
        }
    
        
    }
}