@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.about-main{
    @include flex(center, center);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 20%;
    font-family: "kanit",sans-serif;
    gap:20px
}

.about-us{
    //  @include flex(space-between, center);
    background-color: $light-grey;
    // height:90vh;
    padding-bottom: 3em
}
.services{
    @include flex(space-between, center);
    gap:30px;
    margin-bottom: 3%
}
.quality{
    @include flex(center, center);
background-color: $primary-color;
gap:30px;
margin-top:15%;
margin-left: 6%;
padding-top:30px;
padding-bottom:30px;
background-color: #fff;


}
.fresh{
    @include flex(center, center);
    background-color: $primary-color;
    gap:30px;
    margin-top: 15%;
    margin-left: 8px; padding-top:30px;
    padding-bottom:30px;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #fff;
}
.fast{
    @include flex(center, center);
    background-color: $primary-color;
    gap:30px;
    margin-top:15%;
    margin-left: 6%;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #fff;
}
.why{
    margin-bottom: 5px;
    font-size: 30px;
}
.we{
    margin-top:5%;
    font-size: 50px;
}
.try{
    margin-top:5%;
} 
@media screen and (max-width:600px){
    .about-image{
        width:100px;
    }
    .about-main-section{
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
    }
}