@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.need{
 color:$primary-color;
 margin-bottom: 30px;
 padding-left: 40%;
 font-family: "kanit",sans-serif;
 font-size: 20px;
}
.support{
    padding-left: 30%;
    font-family: "kanit",sans-serif;
    font-size: 30px;
    font-weight: 1000

}
.about-support{
    @include flex (center,center) ;
    gap:20%
}
.contact{
    background-color: $light-grey;
    font-family: "kanit",sans-serif
}
.live{
    background-color: $light-grey;
    font-family: "kanit",sans-serif
}
.email{
    background-color: $light-grey;
    font-family: "kanit",sans-serif
}
#reach{
    color:$grey
}
#i{
    background-color: $light-grey;
    padding-left: 30%;
    border-radius: 50%;

}
#c{
    margin-left: 40%;
}
.fa-arrow-right{
    color: $black;
}