@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

nav {
  background-color: $light-grey;

  .nav {
    @include flex(space-between, center);

    .nav-center {
      ul {
        @include flex(space-between, center);

        li {
          a {
            padding: 10px;
            display: inline-block;

            &:hover {
              background-color: $primary-color;
              color: #fff;
            }
          }
        }
      }
    }
    .nav-right {
      @include flex(space-between, center);
      .fa-bars {
         display:none
      }
    }
  }
}

//    media queries
@media screen and (max-width: 600px) {
  .nav-center {
    display: none;
  }
  .nav-right {
    gap: 10px;
    // .fa-bars {
    //   display: inline-block;
    // }
  }
}
